# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore MacOS system files        
.DS_Store

# Ignore specific file
secret_config.yml     
